h1, h2, h3
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold 30%;
}

h4
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold 40%;
    font-size: 50px;
    text-align: center;
    margin: auto;
    text-decoration: underline;
}
.sitat
{
    font-weight: bold;
    font-style: italic;
}
#avsnittH
{
    width: 45%;
    background-color: bisque;
    border: solid 2px black;
    float: right;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./Lekeplass2.jpg);
    font-weight: bold;
}
#avsnittV
{
    width: 45%;
    background-color:bisque;
    border: solid 2px black;
    float: left;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./Lekeplass1.jpg);
    font-weight: bold;
}

#publisering
{
    text-align: center;
    position: absolute;
    top: 700px;
    right: 560px;
}
body
{
    background-color: bisque;
}